<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">删除</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container" style="padding:30px 0">
    <div class="container">
      <label>请输入合同编号(大小写敏感)：</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="contractNumber" [(ngModel)]="contractNumber">
      </div>
    </div>
  </div>
  <style>
    input::-ms-input-placeholder {
            text-align: center;
        }

        input::-webkit-input-placeholder {
            text-align: center;
        }
    </style>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="delete()">删除</button>
</div>